In [2]:
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
%load_ext sql

In [4]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")

DWH_ENDPOINT=config.get("CLUSTER","HOST")
DWH_ROLE_ARN=config.get("IAM_ROLE","ARN")

In [5]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://xxx:xxx@redshift-cluster-1.xxx.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: xxx@dev'

In [6]:
import boto3

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

sampleDbBucket =  s3.Bucket("udacity-dend")


i=0
for obj in sampleDbBucket.objects.all():
    print(obj)
    i+=1
    if(i>10):
        break

s3.ObjectSummary(bucket_name='udacity-dend', key='data-pipelines/')
s3.ObjectSummary(bucket_name='udacity-dend', key='data-pipelines/data-pipeline-dataset-creation.zip')
s3.ObjectSummary(bucket_name='udacity-dend', key='data-pipelines/divvy/partitioned/2018/1/divvy_trips.csv')
s3.ObjectSummary(bucket_name='udacity-dend', key='data-pipelines/divvy/partitioned/2018/10/divvy_trips.csv')
s3.ObjectSummary(bucket_name='udacity-dend', key='data-pipelines/divvy/partitioned/2018/11/divvy_trips.csv')
s3.ObjectSummary(bucket_name='udacity-dend', key='data-pipelines/divvy/partitioned/2018/12/divvy_trips.csv')
s3.ObjectSummary(bucket_name='udacity-dend', key='data-pipelines/divvy/partitioned/2018/2/divvy_trips.csv')
s3.ObjectSummary(bucket_name='udacity-dend', key='data-pipelines/divvy/partitioned/2018/3/divvy_trips.csv')
s3.ObjectSummary(bucket_name='udacity-dend', key='data-pipelines/divvy/partitioned/2018/4/divvy_trips.csv')
s3.ObjectSummary(bucket_name='udacity-dend', key='data-pipelines/divvy/partitioned/2018/5/divvy_trips.csv')
s3.ObjectSummary(bucket_name='udacity-dend', key='data-pipelines/divvy/partitioned/2018/6/divvy_trips.csv')

In [8]:
from sql_queries import *

import psycopg2

In [9]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()

In [13]:
%%sql
select * from staging_events limit 5;

 * postgresql://xxx:***@redshift-cluster-1.xxx.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('N.E.R.D. FEATURING MALICE', 'Logged In', 'Jayden', 'M', 0, 'Fox', 288.9922, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', 1541033612796, 184, 'Am I High (Feat. Malice)', 200, 1541121934796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '101'),
 (None, 'Logged In', 'Stefany', 'F', 0, 'White', None, 'free', 'Lubbock, TX', 'GET', 'Home', 1540708070796, 82, None, 200, 1541122176796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '83'),
 ('Death Cab for Cutie', 'Logged In', 'Stefany', 'F', 1, 'White', 216.42404, 'free', 'Lubbock, TX', 'PUT', 'NextSong', 1540708070796, 82, 'A Lack Of Color (Album Version)', 200, 1541122241796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '83'),
 ('Tracy Gang Pussy', 'Logged In', 'Stefany', 'F', 2, 'White', 221.33506, 'free', 'Lubbock, TX', 'PUT', 'NextSong', 1540708070796, 82, 'I Have A Wish', 200, 1541122457796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', '83'),
 ('Skillet', 'Logged In', 'Kevin', 'M', 0, 'Arellano', 178.02404, 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', 1540006905796, 153, 'Monster (Album Version)', 200, 1541126568796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', '66')]

In [12]:
%%sql
select * from staging_songs limit 5;

 * postgresql://xxx:***@redshift-cluster-1.xxx.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('AR73AIO1187B9AD57B', 37.77916, -122.42005, 'San Francisco, CA', 'Western Addiction', 'SOQPWCR12A6D4FB2A3', 'A Poor Recipe For Civic Cohesion', 118.07302, 2005),
 ('ARC1IHZ1187FB4E920', None, None, '', 'Jamie Cullum', 'SOXZYWX12A6310ED0C', "It's About Time", 246.9873, 0),
 ('ARGE7G11187FB37E05', None, None, 'Brooklyn, NY', 'Cyndi Lauper', 'SONRWUU12AF72A4283', 'Into The Nightlife', 240.63955, 2008),
 ('ARBZIN01187FB362CC', 1.32026, 103.78871, '27', 'Paris Hilton', 'SOERIDA12A6D4F8506', 'I Want You (Album Version)', 192.28689, 2006),
 ('ARTC1LV1187B9A4858', 51.4536, -0.01802, "Goldsmith's College, Lewisham, Lo", 'The Bonzo Dog Band', 'SOAFBCP12A8C13CC7D', 'King Of Scurf (2007 Digital Remaster)', 301.40036, 1972)]

In [14]:
%%sql
select * from songplays limit 5;

 * postgresql://xxx:***@redshift-cluster-1.xxx.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(2, 1542738576796, '49', 'SOGZANN12AB018736A', 'ARCGJ6U1187FB4D01F', 758, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (6, 1543258003796, '80', 'SOMODCT12A8C137EAA', 'ARCGJ6U1187FB4D01F', 933, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (10, 1542738576796, '49', 'SOOXREI12A8C133901', 'ARCGJ6U1187FB4D01F', 758, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (14, 1541269150796, '95', 'SOPANEB12A8C13E81E', 'ARSW5F51187FB4CFC9', 152, 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"'),
 (18, 1543440657796, '73', 'SOPLJVF12A8C13FD43', 'ARSW5F51187FB4CFC9', 954, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [15]:
%%sql
select * from users limit 5;

 * postgresql://xxx:***@redshift-cluster-1.xxx.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('101', 'Jayden', 'Fox', 'M', 'free'),
 ('66', 'Kevin', 'Arellano', 'M', 'free'),
 ('86', 'Aiden', 'Hess', 'M', 'free'),
 ('15', 'Lily', 'Koch', 'F', 'paid'),
 ('80', 'Tegan', 'Levine', 'F', 'free')]

In [16]:
%%sql
select * from songs limit 5;

 * postgresql://xxx:***@redshift-cluster-1.xxx.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('SOONYFK12A6D4F442C', ' Dry Techterlech', 0, 'AR2SZ2A1187FB5A5FF', 231.83628),
 ('SOWDPLF12A8C1354E3', '#1 Fan', 1997, 'AREQGUQ1187B98FE55', 184.37179),
 ('SOUCGZB12AB01827CB', '$40_000 Plus Interest', 2005, 'ARSQDRW1187FB38AE6', 410.33098),
 ('SOANTAD12A6D4F6CCC', "'Round Midnight (Live)", 0, 'ARJEL6T1187B9A0601', 476.57751),
 ('SOIYUEY12AB0184151', "'Round the Wheel", 2001, 'AR4QYVC1187B99985B', 495.90812)]

In [17]:
%%sql
select * from artists limit 5;

 * postgresql://xxx:***@redshift-cluster-1.xxx.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('ARTW7I31187B9A4CA9', '!!!', None, None, ''),
 ('ARHZZOQ1187B9AE734', "'t Hof Van Commerce", None, None, ''),
 ('AR2ZNXL1187B9B87A1', '1 Giant Leap', None, None, ''),
 ('AR4WA5Y1187B9AC434', '1000 Homo DJs', None, None, 'Chicago, IL'),
 ('AR9GUZF1187FB4D1BC', '10000 Maniacs', None, None, 'Jamestown, NY')]

In [18]:
%%sql
select * from time limit 5;

 * postgresql://xxx:***@redshift-cluster-1.xxx.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(1541121934796, datetime.datetime(2018, 11, 2, 1, 25, 34), 1, 2, 44, 11, 2018, 5),
 (1541122241796, datetime.datetime(2018, 11, 2, 1, 30, 41), 1, 2, 44, 11, 2018, 5),
 (1541126568796, datetime.datetime(2018, 11, 2, 2, 42, 48), 2, 2, 44, 11, 2018, 5),
 (1541129561796, datetime.datetime(2018, 11, 2, 3, 32, 41), 3, 2, 44, 11, 2018, 5),
 (1541135741796, datetime.datetime(2018, 11, 2, 5, 15, 41), 5, 2, 44, 11, 2018, 5)]